/* Select Payment Methods */

.selectPaymentMethods__background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.selectPaymentMethods__close-icon:hover {
  color: #d27d0d;
  font-size: 2.3rem;
}

.selectPaymentMethods {
  border: 1px solid #d27d0d;
  display: flex;
  flex-direction: column;
  width: 40vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  cursor: pointer;
}

.selectPaymentMethods__header {
  padding: 1%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.paymentSelection__title {
  display: flex;
  align-items: flex-start;
}

/* Payment Selection */

.paymentSelection {
  border-bottom: 1px solid grey;
  padding: 2% 4%;
  background-color: whitesmoke;
}

.paymentSelection__description-container {
  display: flex;
}

.paymentSelection__description {
  font-size: 0.9rem;
}
.paymentSelection__arrow-icon {
  color: rgb(128, 128, 128, 0.3);
}
.paymentSelection__selected {
  color: #d27d0d;
  transform: translateX(10px);
}

.paymentSelection__recommended {
  color: #1652f0;
}

.paymentSelection__bank {
  color: green;
}

@media only screen and (max-width: 1000px) {
  .selectPaymentMethods {
    width: 70vw;
  }
}
