.myProfile {
  display: grid;
  margin-left: 3%;
}
.myProfile__top-section {
  display: flex;
}

.myProfile__form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.myProfile__form > input {
  padding: 1.7%;
}
.myProfile__form > label {
  margin-top: 5%;
}

.myProfile__save-button {
  background-color: #1652f0;
  border: none;
  color: white;
  text-align: center;
  width: 18%;
  border-radius: 5px;
  margin-top: 4%;
}
.myProfile__save-button:hover {
  background-color: #d27d0d;
}
