.password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  width: 40%;
  margin: 0 5%;
}

.password__heading > p {
  font-size: 0.9rem;
}

.password__button {
  padding: 2%;
  background-color: white;
  border: 0.5px solid rgb(128, 128, 128, 0.3);
}
.password__button:hover {
  border: 1px solid #d27d0d;
}
