.settings {
  width: 100%;
  color: white;
  border-top: 1px solid white;
  display: flex;
  align-items: center;
  background: #162336;
  -webkit-box-shadow: 0px 17px 15px -6px rgba(0, 0, 0, 0.78);
  box-shadow: 0px 17px 15px -6px rgba(0, 0, 0, 0.78);
}
.settings > ul {
  width: 100%;
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.settings > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 1.2rem;
}

.settings > ul > li:hover {
  border-bottom: 2px solid #d27d0d;
  cursor: pointer;
}
