.preferences {
  display: grid;
  margin-left: 3%;
}

.preferences__form {
  display: grid;
}

.preferences__form > select {
  width: 20%;
  margin-top: 1%;
}
.preferences__form > select {
  margin-left: 3%;
}

.time__zone-label {
  margin-top: 4%;
}
