.password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  width: 40%;
  margin: 0 5%;
}

.password__heading > p {
  font-size: 0.9rem;
}

.password__button {
  padding: 2%;
  background-color: white;
  border: 0.5px solid rgb(128, 128, 128, 0.3);
}
.password__button:hover {
  border: 1px solid #d27d0d;
}
.password__modal {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.password__modal-form {
  border: 1px solid #d27d0d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 65vh;
  width: 50vh;
  position: absolute;
  top: 20%;
  right: 35%;
  background-color: whitesmoke;
  z-index: 10;
}

.password__modal-input {
  height: 10%;
  width: 80%;
}

.password__save-button {
  background-color: #1652f0;
  border: none;
  color: white;
  text-align: center;
  width: 30%;
  border-radius: 5px;
  margin-top: 4%;
  padding: 3%;
  -webkit-box-shadow: 0 10px 6px -6px #777 !important;
  -moz-box-shadow: 0 10px 6px -6px #777 !important;
  box-shadow: 0 10px 6px -6px #777 !important;
}
.password__save-button:hover {
  background-color: #d27d0d;
}

.password__modal-form > input:hover {
  border: 2px solid #162336;
}

.password__modal-input-selected {
  border: 2px solid #d27d0d;
}
