.personalDetails {
  display: grid;
  margin: 3%;
}

.personalDetails__form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.personalDetails__form > input {
  padding: 1.7%;
}

.personalDetails__form > input:hover {
  border: 2px solid #162336;
}
.pesonalDetails__dualInput-container > input:hover {
  border: 2px solid #162336;
}

.personalDetails__form > label {
  margin-top: 5%;
}
/* 
.myProfile__save-button {
  padding: 2.6%;
  background-color: #1652f0;
  border: none;
  color: white;
  text-align: center;
  width: 20%;
  border-radius: 5px;
  margin-top: 4%;
} */

.personalDetails__dualInput {
  margin-top: 2%;
  display: flex;
}

.pesonalDetails__dualInput-container {
  display: grid;
  width: 100%;
}
.pesonalDetails__dualInput-container > input {
  padding: 3%;
  cursor: pointer;
}

.personalDetails__form-input-selected {
  border: 2px solid #d27d0d;
}

@media only screen and (max-width: 700px) {
  .personalDetails__form {
    width: 80%;
  }
}
