.sidebar {
  display: grid;
}

.sidebar__container {
  display: flex;
  flex-direction: column;
  background-color: #162336;
  height: 100%;
  color: white;
  border: 1px solid white;
}

.closedSidebar__container {
  background-color: #162336;
  height: 100vh;
  color: white;
}

.sidebar__logo {
  height: 70px;
  padding: 10px;
  margin-right: auto;
}

.sidebar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 20px;
  font-family: "Italianno", cursive;
}

.sidebar > img {
  height: 200px;
  width: 200px;
}

/* ---SidebarOption--- */
.sidebarOption {
  color: whitesmoke;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.sidebarOption:hover,
.selected {
  background-color: whitesmoke;
  color: #162336;
  overflow: hidden;
  outline: none;
  border: none;
  justify-content: center;
}

.sidebarOption {
  display: flex;
  align-items: center;
  width: 100%;
  transition: 0.4s ease-in-out;
  margin-top: 25px;
}

.sidebarOption__open {
  border-radius: 20px 0 0 20px;
}

.sidebarOption__img {
  width: 50px;
  object-fit: contain;
  align-items: center;
}

.sidebarOption__arrowIcon {
  color: #d27d0d !important;
}

.nav__mobile {
  border: 1px solid whitesmoke;
  background-color: #162336;
  display: none;
}
.nav__mobile-container > a > .sidebarOption {
  justify-content: center;
}

.nav__mobile-container {
  background-color: #162336;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .sidebar__container {
    display: none;
  }
  .closedSidebar__container {
    display: none;
  }

  .nav__mobile {
    display: grid;
  }
}
