.sidebar {
  display: grid;
}

.sidebar__container {
  display: grid;
  background-color: #162336;
  height: 100%;
  color: white;
  border: 1px solid white;
}

.closedSidebar__container {
  background-color: #162336;
  height: 100vh;
  color: white;
}

.sidebar__title {
  font-size: 1.3rem;
  font-family: "Italianno", cursive;
}

/* ---SidebarOption--- */
.sidebarOption {
  color: whitesmoke;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  transition: 0.4s ease-in-out;
}

.sidebarOption:hover,
.selected {
  border-top: 2px solid #d27d0d !important;
  border-bottom: 2px solid #d27d0d !important;
  background-color: whitesmoke;
  color: #162336;
  overflow: hidden;
  border: none;
  justify-content: center;
}

.sidebarOption__open {
  width: 14vw;
}

.sidebarOption__arrowIcon {
  color: #d27d0d !important;
}

.nav__mobile {
  border: 1px solid whitesmoke;
  background-color: #162336;
  height: 100%;
  display: none;
}
.nav__mobile-container > a > .sidebarOption {
  justify-content: center;
}

.nav__mobile-container {
  background-color: #162336;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .sidebar__container {
    display: none;
  }
  .closedSidebar__container {
    display: none;
  }

  .nav__mobile {
    display: grid;
  }
  .sidebarOption__open {
    width: 100vw;
  }
}
