.form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  width: 100%;
  border: 1px solid white;
  background: #162336;
  -webkit-box-shadow: 0 10px 6px -6px #777 !important;
  -moz-box-shadow: 0 10px 6px -6px #777 !important;
  box-shadow: 0 10px 6px -6px #777 !important;
}

.form__inputContainer {
  padding: 9px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form__inputContainer > input {
  width: 60%;
  border: 1px solid #d27d0d;
  background-color: white;
  padding: 0 5px;
  border-radius: 0 20px 20px 0;
}

.form__icon {
  background-color: white;
  border-radius: 20px 0 0 20px;
  border: 1px solid #d27d0d;
}

.form__menu {
  display: none;
  color: white;
}

.search__icons {
  color: whitesmoke !important;
  margin-right: 1.5%;
  cursor: pointer;
}
