.coinInfo {
  width: 25%;
  height: 130px;
  letter-spacing: 2px;
  margin: 1%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(204, 204, 204);

  -webkit-box-shadow: 0 10px 6px -6px #777 !important;
  -moz-box-shadow: 0 10px 6px -6px #777 !important;
  box-shadow: 0 10px 6px -6px #777 !important;
}

.coinInfo__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.coinInfo__content > h2 {
  display: flex;
  justify-content: center;
  color: #162336;
}

.coinInfo__highLow {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 0.7rem;
}

.coinInfo__highLow > p:first-child {
  color: red;
}
.coinInfo__highLow > p:last-child {
  color: green;
}
.coinInfo--selected {
  border-top: 2px solid rgb(210, 125, 13);
}

.coinInfo__title {
  color: grey;
  font-size: 1rem;
  letter-spacing: 1.5px;
}
.red {
  color: red;
}

.green {
  color: green;
}

.selected {
  color: blue;
}

.MuiCircularProgress-colorPrimary {
  color: #162336 !important;
}

@media screen and (max-width: 1405px) {
  .coinInfo {
    width: 100vw;
  }
}
